button {
    font: inherit;
    background: var(--button-primary);
    border: 1px solid;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    padding: 12px 24px;
    max-width: max-content;
    transition: all .4s ease-in-out;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background: var(--button-primary-hover);
}