li {
    box-shadow: 1px 1px 8px var(--main-background);
    padding: 16px;
    margin: 8px;
    cursor: move;
    position: relative;
}

li h2 {
    margin: 0.5rem 0;
}

li p {
    margin: 0;
    color: var(--secondary-color);
    text-align: justify;
}