.section {
    display: flex;
    flex-direction: column;
    margin: 8px;
    border: 1px solid;
    border-color: var(--main-background);
    height: max-content;
    position: relative;
}

.section header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-color: var(--main-background);
}

.section header h2 {
    margin: 0;
    color: var(--main-color);
    text-transform: uppercase;
}

.section li h2 {
    text-transform: capitalize;
    color: var(--main-background);
}