.form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-control:has(input[type=number]) {
    max-width: max-content;
}

.form-label {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

.form-control--error label {
    color: var(--error);
}

.form-control--error input, textarea {
    border-color: var(--error);
}

.form-control p {
    color: var(--error);
    font-size: 12px;
    font-style: italic;
}

input,
textarea {
    font: inherit;
    padding: 12px;
    border: 1px solid var(--main-background);
}

input:focus,
textarea:focus {
    outline: none;
    background: var(--secondary-background);
}