label,
input,
textarea {
    display: block;
    margin: 0.5rem 0;
}

label {
    font-weight: bold;
}

input,
textarea {
    font: inherit;
    padding: 0.2rem 0.4rem;
    width: 100%;
    max-width: 30rem;
    border: 1px solid #ccc;
}

input:focus,
textarea:focus {
    outline: none;
    background: #fff5f9;
}