* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100dvh;
}

:root {
  --main-color: #ededed;
  --secondary-color: #83756e;
  --main-background: #202020;
  --secondary-background: #fbd9ac;
  --button-primary: #ff6a00;
  --button-primary-hover: #d15901;
  --error: #cc0909;
}

#root {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-grow: 1;
}

h1 {
  text-transform: capitalize;
  font-style: italic;
  font-size: 42px;
  padding: 0 8px;
}